body{
    /*background-color: rgb(215, 156, 78);*/
    background-image: url("beerground.jpg");
    background-repeat: no-repeat;
    margin-top: 20px;
    background-size: 100%;
    
}

.container{
    border: 5px solid;
    height: 300px;
    width: 90%;
    /* margin: auto; */
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(209, 248, 239)
}


header{
    font-size: 90px;
    text-align: center;
    padding-top: 10px;
    
}

.slogan{
    font-size: 26px;
    text-align: center;

}

.startText{
    text-align: center;
    padding-top: 15px;
    text-decoration: underline;
}

.underscores{
    border: 2px solid;
    background-color: #f8ecd177;
    font-size: 60px;
    margin: auto;
    margin-top: 65px;
    text-align: center;
    width: 75%;
    padding: 10px;
}

.tally{
    padding-top: 20px;
}

.rightGuess{
    border: 2px solid;
    margin-top: 90px;
    width: 500px;
    height: 45px;
    padding: 5px;
    background-color: #f8ecd177;
}

.wrongGuess{
    border: 2px solid;
    width: 500px;
    height: 45px;
    padding: 5px;
    background-color: #f8ecd177;
}
.lives{
    border: 2px solid;
    width: 500px;
    height: 45px;
    padding: 5px;
    background-color: #f8ecd177;
}

.restart {
    margin-top: 20px;
}